@import '../../variable.scss';

.title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
    text-align: left;
}
.field-label{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    display: block;

}
.more-jobs {
    margin: 20px 0px 5px;
    font-size: 14px;
}
.create-account-text {
    color: $light-blue;
}
.ant-form-item {
margin-bottom: 15px;
}
.password-group {
    display: flex;
}
.extra-text {
    text-align: left;
    margin-bottom: 15px
}
.ant-notification {
    z-index: 9999999 !important;
  }
.forgot-password-field {
    display: flex;
    justify-content: space-between;
}
.ant-form-item-control { 
    padding-bottom: 5px;
.ant-form-item-explain-error {
    position: absolute;
    bottom: -20px;
}
}
.tabs {
    display: flex;
    width: 250px;
    justify-content: space-evenly;
}
.error {
    color: $red;
    text-align: right;
    margin-bottom: 10px;
   
}
.error-border {
    border: 1px solid $red;

}


