.title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
    text-align: left;
}
.field-label{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    display: block;

}
.more-jobs {
    margin: 20px 0px 5px;
    font-size: 14px;
}
.create-account-text {
    color: #43AFFF;
}
.ant-form-item {
margin-bottom: 15px;
}
.password-group {
    display: flex;
}
.extra-text {
    text-align: left;
    margin-bottom: 15px
}
.ant-notification {
    z-index: 9999999 !important;
  }
.forgot-password-field {
    display: flex;
    justify-content: space-between;
}


