.about-us {
    display: flex;
    text-align: left;
    margin-top: 20px;
    .card-type {
        background-color: #fff;
        height: 170px;
        padding: 10px 0px 0px 10px;
        margin: 10px;
        .card-heading {
            color: #43AFFF;
            width: 130px;
            padding-bottom: 10px;
            font-weight: 500;
            font-size: 15px;
        }
    }
}