@import '../../../../variable';
.applicants-modal{   
    .applicant-title {
        font-size: 20px;
        margin-bottom: 23px;
        border-bottom: 2px solid $dark-blue;
        color: $dark-blue-II;
    }

    .applicants {
        height: 60Vh;
        width: 100%;
        background: #e3e6eb;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        .no-applicants {
            display: flex;
            align-items: center;
            flex-direction: column;
            svg {
                width: 100px;
                height: 100px;
            }
            span{
                color:$dark-blue-II;
                font-size: 16px;
            }
        }

        .applicants-group {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            height: inherit;
            width: inherit;
        }
    }


}