@import '../../../variable.scss';

.top-view {
    background: transparent linear-gradient(253deg, $dark-blue-II 0%, $dark-blue-I 100%) 0% 0% no-repeat padding-box;
    height: 400px;
    header {
        display: flex;
        margin: 0px 50px 0px 50px;
        padding-top: 15px;        
        font-weight: 900;
        font-size: 20px;
        justify-content: space-between;
        border-bottom: 1px solid $light-grey;
        padding-bottom: 9px;
        button{
            border: 1px $light-blue solid;
            background: $dark-blue;
            color: $white;

        }
    }
    .nav-wrapper {
        display: flex;
        align-items: center;
    .post {
          font-size: 14px;
          color: $white;
          opacity: 0.8;
          margin-right: 40px;
    }
    .logo-wrapper {
        display: flex;
        align-items: center;


    .name-logo {
        background: $sky-blue;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        color: $dark-blue-II;
    }
}
}
     
}