@import '../../../../variable';
.card-wrapper {  
    display: inline-block;
    background: $white;
    padding: 10px;
    margin: 8px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 6px $dark-blue;
    border-radius: 5px;
    text-align: left;
    width: 250px;

    ._title {
        font-size: 17px;
        color: $dark-blue-II;
        font-weight: 600;
    }
    .desc {
        letter-spacing: 0px;
        color: $dark-blue-II;
        opacity: 0.8;
        font-size: 15px;
    }
    ._location-wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    .location {
        display: flex;
        align-items: center;
        .location-img{
            width: 15px;
            margin-right: 5px;
        }
    }
        .view-applicants{
            background: #43AFFF33;
            border-radius: 5px;
            color: $dark-blue-II;
            border: none;
        }
    }
   

}
